<div class="SearchWrapper">
  <div class="SearchInside">
 <img src="../../../assets/GIT_FIND.png" class="LogoBig" />
    <a class="SearchDevs">
      <span class="GitText">SOBRE GIT_FIND</span>
      <br />
      <span class="GitTextParagraph">GIT_FIND é um projeto de Angular feito inicialmente pra um desafio de programação
        da Petize.
        Essa versão é um Re-Design da primeira versão, com um foco em um tema escuro, cores gradientes, e modernização
        dos layouts, além de um adicional de design responsivo para celulares.
        <br>
        <br>
        Você pode encontrar o código disponível publicamente abaixo, tanto da versão 1.0 quanto da versão 2.0.</span>
    </a>
  </div>
<div class="AboutWrapper">
  <a href="https://github.com/luchasarie/github-info-finder"><div class="AboutItem">
    <div class="AboutItemTitle">
      <span class="AboutItemTitleVer">1.0</span>
      <span class="AboutItemTitleName">Repositório Github</span>
    </div>
    <span class="AboutItemDescription">Repositório do Git_Find 1.0 com instruções para instalação e build do
      projeto</span>
  </div></a>
  <a href="https://github-info-finder-petize.web.app/results/wbond"><div class="AboutItem">
    <div class="AboutItemTitle">
      <span class="AboutItemTitleVer">1.0</span>
      <span class="AboutItemTitleName">WebApp Online</span>
    </div>
    <span class="AboutItemDescription">Versão online do Git_Find 1.0 hosteada no Firebase pra facíl acesso do
      aplicativo.</span>
  </div></a>
  <a href="https://www.figma.com/file/xzeQUvHA2vnQm7yyB2awO3/GIT_FIND-2.0?node-id=0%3A1&t=fqMUOY82kbLzCnwM-1"><div class="AboutItem">
    <div class="AboutItemTitle">
      <span class="AboutItemTitleVer">2.0</span>
      <span class="AboutItemTitleName">Wireframe Figma</span>
    </div>
    <span class="AboutItemDescription">Wireframing e Design Inicial da versão 2.0 no Figma.</span>
  </div></a>
  <a href=""><div class="AboutItem">
    <div class="AboutItemTitle">
      <span class="AboutItemTitleVer">2.0</span>
      <span class="AboutItemTitleName">Repositório Github</span>
    </div>
    <span class="AboutItemDescription">Repositório do Git_Find 2.0 com instruções para instalação e build do
      projeto</span>
  </div></a>
  <a href=""><div class="AboutItem">
    <div class="AboutItemTitle">
      <span class="AboutItemTitleVer">2.0</span>
      <span class="AboutItemTitleName">WebApp Online</span>
    </div>
    <span class="AboutItemDescription">Versão online do Git_Find 2.0 hosteada no Firebase pra facíl acesso do
      aplicativo.</span>
  </div></a>

</div>
</div>
