@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}

.LogoBig{
  height: 128px;
  width:128px;
  align-content: center;

}
.GitText{
  font-weight: 300;
font-size: 48px;
line-height: 65px;
margin-bottom: 24px;
}
.GitTextSmaller{
  font-style: normal;
  font-size: 24px;
line-height: 29px;
text-align: center;
}
.SearchWrapper {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.SearchInside {
  margin-top: 64px;
  display:flex;
  flex-direction: column;
  padding: 16px;
gap: 15px;
align-items: center;
@include for-size(phone-only){
background: rgba(0, 0, 0, 0.65);
border: 1px solid #FFFFFF;
backdrop-filter: blur(6px);
}
border-radius: 10px;
}

.AboutWrapper{
  margin-top: 32px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  gap: 32px;
  @include for-size(phone-only){flex-direction: column; gap:32px; padding-bottom:32px}
}
.AboutItem{
  width: 200px;
height: max-content;
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 24px;
gap: 26px;
background: rgba(0, 0, 0, 0.65);
border: 1px solid #FFFFFF;
backdrop-filter: blur(6px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;
transition: all 200ms;
}
.AboutItem:hover{
  background-color: black;
  border-color:cyan;
  box-shadow: 0 0 20px 1px rgba(255,255,255,0.5);
}
.AboutItemTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 4px;
}
.AboutItemTitleVer{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 22px;
text-align: center;
background: linear-gradient(90deg, #9459FF 1.85%, #00D1FF 101.85%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.AboutItemTitleName{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
}
.AboutItemDescription{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #FFFFFF;


}
